<div data-controller="message-box" id='message-box' data-room-id="<%= @room.id %>" data-user-id="<%=current_user.id%>" class="fixed max-w-md bottom-0 right-20 shadow-md">
  <!-- flex to align chat box side by side -->
  <div class="flex space-x-4">
    <div class="flex flex-col border bg-white">
      <div class="flex items-center justify-between border-b p-2">
        <!-- user info -->
        <div class="flex items-center">
          <img class="rounded-full w-10 h-10"
            src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" />
          <div class="pl-2">
            <div class="font-semibold">
              <a class="hover:underline" href="#"><%= @other_participant_name %></a>
            </div>
            <div class="text-xs text-gray-600">Online</div>
          </div>
        </div>
        <!-- end user info -->
        <!-- chat box action -->
        <div>
          <button
            data-action="message-box#remove"
            class="inline-flex hover:bg-sky-100	 rounded-full p-2" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <!-- end chat box action -->
      </div>

      <%= turbo_stream_from "rooms_channel:#{@room.id}", channel: RoomsChannel, id: @room.id %>
      <div id="messages-room-<%= @room.id %>" class="flex-1 px-4 py-4 overflow-y-auto">
        <%= render partial: 'messages/message', collection: @messages, as: :message %>
      </div>

      <%= render partial: 'messages/form' %>
    </div>
  </div>
</div>
