<div class="flex min-h-screen">
  <%= render partial: 'organizations/settings_sidebar', locals: { active_tab: 'account_setting' } %>
  <main class="flex-1 px-8 py-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"space-y-4 md:space-y-6" }) do |f| %>
      <div class="grid grid-cols-2 items-center">
        <h1 class="text-2xl font-semibold mb-6">Edit Profile</h1>
        <div>
          <%= f.button nil, class:"flex items-center min-w-24 bg-gray-600 hover:bg-black float-right text-white text-sm px-2 py-2 rounded" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 lucide lucide-save"><path d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/><path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7"/><path d="M7 3v4a1 1 0 0 0 1 1h7"/></svg>
            Save
          <% end %>
        </div>
      </div>
      <section class="space-y-6">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 transition-colors w-1/2 mb-6">
          <div class="flex items-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5 mr-2 lucide lucide-signature"><path d="m21 17-2.156-1.868A.5.5 0 0 0 18 15.5v.5a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1c0-2.545-3.991-3.97-8.5-4a1 1 0 0 0 0 5c4.153 0 4.745-11.295 5.708-13.5a2.5 2.5 0 1 1 3.31 3.284"/><path d="M3 21h18"/></svg>
            <h2 class="text-lg font-semibold">Personal Information</h2>
          </div>
          <p class="text-sm text-muted-foreground">Manage your personal informaiton</p>
          <div class="grid grid-cols-1 gap-x-1 mt-4 md:grid-cols-2">
            <div class="field">
              <%= f.label :name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
            </div>
            <div class="field">
              <%= f.label :email, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
            </div>
            <div class="field">
              <%= f.label :language, class:"block mt-2 mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.select :language, options_for_select(I18nData.languages('EN').invert, current_user.language), {}, {class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"} %>
            </div>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 transition-colors w-1/2 mb-6">
          <div class="flex items-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5 mr-2 lucide lucide-lock"><rect width="18" height="11" x="3" y="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>
            <h2 class="text-lg font-semibold">Security Information</h2>
          </div>
          <p class="text-sm text-muted-foreground">Manage your security informaiton</p>
          <div class="">
            <div class="field">
              <%= f.label :current_password, class:"block mt-2 mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.password_field :current_password, autocomplete: "current-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
            </div>
            <div class="field">
              <%= f.label :password, class:"block mt-2 mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.password_field :password, autocomplete: "new-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class:"block mt-2 mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
            </div>
          </div>
        </div>
      </section>
    <% end %>
    <section class="space-y-6 mt-6">
      <div class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 transition-colors w-1/2 mb-6">
        <div class="flex items-center mb-2 text-red-600 hover:text-red-800">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5 mr-2 lucide lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>
          <h2 class="text-lg font-semibold">Cancel Subscription</h2>
        </div>
        <p class="text-sm text-muted-foreground">Once you cancel your subscription, there is no going back. Please be certain.</p>
        <div class="py-4">
          <button data-modal-target="<%=current_user.id%>-popup-modal" data-modal-toggle="<%=current_user.id%>-popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center inline-flex items-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
            Cancel Subscription
          </button>
          <div id="<%=current_user.id%>-popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="<%=current_user.id%>-popup-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-4 md:p-5 text-center">
                  <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                  <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to cancel your subscription?</h3>
                  <%= form_with url: subscription_path(current_user.id), method: :delete, class:"inline-flex items-center" do |f| %>
                    <button data-modal-hide="<%=current_user.id%>-popup-modal" type="submit" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Yes, I'm sure
                    </button>
                  <% end %>
                  <button data-modal-hide="<%=current_user.id%>-popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
