<div data-controller="message-box" id='message-box' data-room-id="<%= room.id %>" data-user-id="<%=current_user.id%>" class="flex flex-col h-full w-full bg-white px-4 py-6">
  <div class="flex flex-row items-center justify-between py-4 px-6 rounded-2xl shadow">
    <div class="flex items-center">
      <div class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-700 hover:bg-blue-800 text-white">
        <%= room.other_participant(current_user).user.name.first %>
      </div>
      <div class="flex flex-col ml-3">
        <div class="font-semibold text-sm"><%= room.other_participant(current_user).user.name %></div>
        <div class="text-xs text-gray-500"><%= room.other_participant(current_user).user.language.upcase %></div>
      </div>
    </div>
    <div>
      <button data-dropdown-toggle="room-<%= room.id %>-actions">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div id="room-<%= room.id %>-actions" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <button class="px-4 py-2 hover:bg-gray-100 w-full text-left" data-modal-target="close-chat-modal" data-modal-toggle="close-chat-modal">Clost chat</button>
          </li>
          <li>
            <button class="px-4 py-2 hover:bg-gray-100 w-full text-left" data-modal-target="assign-chat-modal" data-modal-toggle="assign-chat-modal">Assign chat</button>
          </li>
          <li>
            <%= button_to room_path(room.id),
              method: :patch,
              local: false,
              remote: true,
              params: {room: {read_at: nil}},
              form_class: "block px-4 py-2 hover:bg-gray-100" do %>
              <%# <div class="absolute text-xs text-gray-500 right-0 top-0 mr-4 mt-3">2 hours ago</div> %>
              Mark as unread
            <% end %>
          </li>
        </ul>
    </div>
    </div>
  </div>
  <div class="h-full overflow-hidden py-4">
    <div id="messages-list-<%= room.id %>"class="h-full overflow-y-auto">
      <%= turbo_stream_from "rooms_channel:#{room.id}", channel: RoomsChannel, id: room.id %>
      <div id="messages-room-<%= room.id %>" class="grid grid-cols-12 gap-y-2">
        <%= render partial: 'messages/message', collection: room.messages.order("created_at asc"), as: :message %>
      </div>
    </div>
  </div>
  <%= render partial: 'messages/form' %>
</div>

<div id="close-chat-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="close-chat-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to close this chat?</h3>
                <%= form_with url: room_path(room.id), model: room, method: :put, class:"inline-flex items-center" do |f| %>
                  <%= f.hidden_field :status, value: 'closed' %>
                  <button data-modal-hide="close-chat-modal" type="submit" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                      Yes, I'm sure
                  </button>
                <% end %>
                <button data-modal-hide="close-chat-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Main modal -->
<div id="assign-chat-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Assign chat to a member
                </h3>
                <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="assign-chat-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <%= form_with model: room, method: :put, remote: true, local: false, class:"space-y-4" do |f| %>
                    <div class="field">
                      <%= f.label "Assignee", class:"block mt-2 mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                      <%= f.select :assignee_id, options_for_select(room.organization.users.collect {|u| [u.name, u.id]}, [room.assignee&.name, room.assignee&.id]), {}, {class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"} %>
                    </div>
                    <%= f.submit "Assign user", class:"w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>
                <% end %>
            </div>
        </div>
    </div>
</div>
