<div id="room-list" class="flex flex-col w-64 border-r">
  <div class="flex items-center justify-between p-4 border-b">
    <span class="font-semibold"><%= @room_type %></span>
  </div>
  <div class="h-full overflow-hidden relative">
    <div class="flex flex-col divide-y h-full overflow-y-auto">
      <% @rooms.each do |room| %>
        <%= button_to room_path(room.id),
          method: :get,
          local: false,
          remote: true,
          params: {switch_tab: 'true'},
          class: "flex flex-row items-center p-4 relative",
          form_class: "hover:bg-muted hover:text-muted-foreground #{room.id == @current_room.id ? 'bg-gray-100 hover:bg-gray-200': 'hover:bg-gray-100'} " do %>
          <%# <div class="absolute text-xs text-gray-500 right-0 top-0 mr-4 mt-3">2 hours ago</div> %>
          <div class="flex items-center justify-center h-10 w-10 rounded-full bg-cyan-600 hover:bg-cyan-700 text-white font-bold flex-shrink-0">
            <%= room.other_participant(current_user)&.user&.name&.first %>
          </div>
          <div class="flex flex-col flex-grow ml-3">
            <div class="text-sm font-medium"><%= room.other_participant(current_user)&.user&.name %></div>
            <div id="room-<%= room.id%>-last-message"class="text-xs truncate w-40"><%= room.messages.last.source_text %></div>
          </div>
          <%# <div class="flex-shrink-0 ml-2 self-end mb-1">
            <span class="flex items-center justify-center h-5 w-5 bg-red-500 text-white text-xs rounded-full">3</span>
          </div> %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
