<style>
  #chat-header, .sent-message, #send-button, #open-chat {
    background-color: <%= current_user.owned_org.background_color || 'black' %>;
  }
  #message-icon, #cross-icon, #chat-text, .sent-message, #send-button, #chat-header {
    color: <%= current_user.owned_org.text_color || 'white' %>;
  }
  #send-button {
    background-color: <%= current_user.owned_org.button_color || 'black' %>;
  }
</style>
<script>
  function showHideChatBox(e) {
    e.preventDefault();
    $('#chat-container').slideToggle("slow");;
    $('#cross-icon').toggle();
    $('#message-icon').toggle();
    $('#chat-text').toggle();
    return false;
  }

  $(document).ready(function() {
    $('#background-color').on('input', function() {
      let color = $(this).val();
      $('#backgroud-color-para').text(color.toUpperCase());
      $("#chat-header").css("background-color", color);
      $(".sent-message").css("background-color", color);
      $('#send-button').css("background-color", color);
      $('#open-chat').css("background-color", color);
    });
    $('#text-color').on('input', function() {
      let color = $(this).val();
      $('#text-color-para').text(color.toUpperCase());
      $("#message-icon").css("color", color);
      $("#cross-icon").css("color", color);
      $("#chat-text").css("color", color);
      $(".sent-message").css("color", color);
      $("#send-button").css("color", color);
      $("#chat-header").css("color", color);
    });
    $('#button-color').on('input', function() {
      let color = $(this).val();
      $("#send-button").css("background-color", color);
    });
    $('#icon-select').on('change', function() {
      const selectedValue = $(this).val();
      let newSVG;

      // Replace with different SVGs based on the selection
      if (selectedValue === 'message_square_more') {
        newSVG = '<svg id="message-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-more"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/><path d="M8 10h.01"/><path d="M12 10h.01"/><path d="M16 10h.01"/></svg>';
      } else if (selectedValue === 'message_circle_question') {
        newSVG = '<svg id="message-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-question"><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>';
      }
      // Replace the current SVG
      $('#message-icon-container').html(newSVG);
    });

    $('#label-select').on('change', function() {
      const selectedValue = $('#label-select option:selected').text();
      $('#chat-text').html(selectedValue);
    });
  });
</script>
<div class="flex min-h-screen">
  <%= render partial: 'organizations/settings_sidebar', locals: { active_tab: 'chat_appearance' } %>
  <main class="flex-1 px-8 py-2">
    <%= form_with model: current_user.owned_org, method: :put, class: 'h-full' do |f| %>
      <div class="grid grid-cols-2 items-center">
        <h1 class="text-2xl font-semibold mb-6">Chat Appearance</h1>
        <div>
          <%= f.submit nil, class:"flex items-center min-w-24 bg-gray-600 hover:bg-black float-right text-white text-sm px-2 py-2 rounded" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 lucide lucide-save"><path d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/><path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7"/><path d="M7 3v4a1 1 0 0 0 1 1h7"/></svg>
            Save
          <% end %>
        </div>
      </div>
      <section class="grid grid-cols-[330px_2fr] h-full pb-2">
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 w-3/4 transition-colors mb-6 h-fit">
          <div class="flex items-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5 mr-2 lucide lucide-palette"><circle cx="13.5" cy="6.5" r=".5" fill="currentColor"/><circle cx="17.5" cy="10.5" r=".5" fill="currentColor"/><circle cx="8.5" cy="7.5" r=".5" fill="currentColor"/><circle cx="6.5" cy="12.5" r=".5" fill="currentColor"/><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10c.926 0 1.648-.746 1.648-1.688 0-.437-.18-.835-.437-1.125-.29-.289-.438-.652-.438-1.125a1.64 1.64 0 0 1 1.668-1.668h1.996c3.051 0 5.555-2.503 5.555-5.554C21.965 6.012 17.461 2 12 2z"/></svg>
            <h2 class="text-lg font-semibold">Brand Customization</h2>
          </div>
          <p class="text-sm text-muted-foreground">To manage availability or set up instant answers, go to app.</p>
          <div class="mt-4">
            <div class="grid items-center grid-cols-2 border-t-2 py-2">
              <div>
                <%= f.color_field :background_color, id: 'background-color' %>
              </div>
              <div>
                <p class="text-xs py-1">
                  Background
                </p>
                <p class="text-xs" id="backgroud-color-para">
                  <%= current_user.owned_org.background_color %>
                </p>
              </div>
            </div>
            <div class="grid items-center grid-cols-2 border-t-2 py-2">
              <div>
                <%= f.color_field :text_color, id: 'text-color' %>
              </div>
              <div>
                <p class="text-xs py-1">
                  Text
                </p>
                <p class="text-xs" id="text-color-para">
                  <%= current_user.owned_org.text_color %>
                </p>
              </div>
            </div>
            <div class="grid items-center grid-cols-2 border-t-2 py-2">
              <div>
                <%= f.color_field :button_color, id: 'button-color' %>
              </div>
              <div>
                <p class="text-xs py-1">
                  Buttons
                </p>
                <p class="text-xs">
                  <%= current_user.owned_org.button_color %>
                </p>
              </div>
            </div>
            <div class="grid items-center grid-cols-2 border-t-2 py-2">
              <div>
                <p class="text-xs">
                  Icon
                </p>
              </div>
              <div>
                <%= f.select :icon, options_from_collection_for_select(Organization::VALID_ICONS, :first, :last), {}, {class: "px-1 py-1 rounded-lg text-sm w-full", id: 'icon-select'} %>
              </div>
            </div>
            <div class="grid items-center grid-cols-2 border-t-2 py-2">
              <div>
                <p class="text-xs">
                  Label
                </p>
              </div>
              <div>
                <%= f.select :label, options_from_collection_for_select(Organization::VALID_LABELS, :first, :last), {}, {class: "px-1 py-1 rounded-lg text-sm w-full", id: 'label-select'} %>
              </div>
            </div>
            <div class="border-t-2 py-2">
              <div class="py-2">
                <p class="text-xs">
                  Greeting Message
                </p>
              </div>
              <div>
                <%= f.text_area :greeting_message, class: "rounded-lg w-full" %>
              </div>
            </div>
          </div>
        </div>
        <div class="relative bg-gray-300 mt-0">
          <div class="absolute bottom-0 right-0">
            <div class="mb-4 mr-4">
              <div id="chat-container" class="w-96 mb-4 hidden">
                <div class="bg-white shadow-md rounded-lg max-w-lg w-full">
                  <div id="chat-header" class="p-4 border-b bg-black text-white rounded-t-lg flex justify-between items-center">
                    <p class="text-3xl font-semibold"><%= current_user.owned_org.name || 'Your Org'%></p>
                    <button id="close-chat" class="text-gray-300 hover:text-gray-400 focus:outline-none focus:text-gray-400" onclick="showHideChatBox()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                  </div>
                  <div id="chatbox" class="p-4 h-80 overflow-y-auto">
                    <div class="mb-2 text-right">
                      <p class="sent-message bg-black text-white rounded-lg py-2 px-4 inline-block">Hi</p>
                    </div>
                    <div class="mb-2">
                      <p class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 inline-block">Hello</p>
                    </div>
                  </div>
                  <form on:submit|preventDefault={sendMessage} method="POST">
                    <div class="p-4 border-t flex">
                        <input name="room_id" id="user-input" type="hidden" value={roomId} class="w-full px-3 py-2 border rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                        <input name="user_id" id="user-input" type="hidden" value={userId} class="w-full px-3 py-2 border rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500"/>

                        <input name="source_text" id="user-input" type="text" placeholder="Type a message" class="w-full px-3 py-2 border rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                        <button id="send-button" class="bg-black text-white px-4 py-2 rounded-r-md transition duration-300">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-horizontal"><path d="M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z"/><path d="M6 12h16"/></svg>
                        </button>
                    </div>
                  </form>
                </div>
              </div>
              <button id="open-chat" class="mb-4 float-right bg-black text-white py-2 px-4 rounded-md transition duration-300 flex items-center" onclick="showHideChatBox(event)">

                <span id="message-icon-container">
                  <% if current_user.owned_org.icon == 'message_circle_question' %>
                    <svg id="message-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-question"><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                  <% else %>
                    <svg id="message-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-more"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/><path d="M8 10h.01"/><path d="M12 10h.01"/><path d="M16 10h.01"/></svg>
                  <% end %>
                </span>
                <svg id="cross-icon" style="display: none;"xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
                <span id="chat-text" class="ml-2 text-xl"><%= Organization::VALID_LABELS[current_user.owned_org.label&.to_sym] || 'Chat'%></span>
              </button>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </main>
</div>
