<!--
// v0 by Vercel.
// https://v0.dev/t/KLaYcuYMLi5
-->
<script src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/minified/introjs.min.css">

<div class="flex h-screen">
  <div class="flex flex-col w-64 border-r">
    <div class="flex items-center justify-between p-4 border-b">
      <div class="flex items-center space-x-2">
        <span class="font-semibold"><%= current_user.owned_org.name %></span>
      </div>
    </div>
    <div class="flex flex-col p-4 space-y-2">
      <%= button_to rooms_path,
        method: :get,
        params: {room_status: 'open'},
        form_class: 'rounded-md hover:bg-muted hover:text-muted-foreground hover:bg-gray-100 px-2 py-1 cursor-pointer' do %>
          <div class="flex items-center space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4"
            >
              <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
              <path d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path>
            </svg>
            <span>Open</span>
          </div>
      <% end %>
      <%= button_to rooms_path,
        method: :get,
        params: {room_status: 'closed'},
        form_class: 'rounded-md hover:bg-muted hover:text-muted-foreground hover:bg-gray-100 px-2 py-1 cursor-pointer' do %>
          <div class="flex items-center space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4"
            >
              <rect width="20" height="5" x="2" y="3" rx="1"></rect>
              <path d="M4 8v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8"></path>
              <path d="M10 12h4"></path>
            </svg>
            <span>Closed</span>
          </div>
      <% end %>
    </div>
    <div class="flex flex-col p-4 space-y-2">
      <span class="text-sm text-muted-foreground">Filters</span>
        <%= button_to rooms_path,
          method: :get,
          params: {self_assigned: 'true'},
          form_class: 'rounded-md hover:bg-muted hover:text-muted-foreground hover:bg-gray-100 px-2 py-1 cursor-pointer' do %>
            <div class="flex items-center space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="w-4 h-4"
              >
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
              <span>Assigned to me</span>
            </div>
        <% end %>
      <%= button_to rooms_path,
        method: :get,
        params: {unassigned: 'true'},
        form_class: 'rounded-md hover:bg-muted hover:text-muted-foreground hover:bg-gray-100 px-2 py-1 cursor-pointer' do %>
          <div class="flex items-center space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4"
            >
              <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <line x1="17" x2="22" y1="8" y2="13"></line>
              <line x1="22" x2="17" y1="8" y2="13"></line>
            </svg>
            <span>Unassigned</span>
          </div>
      <% end %>
      <%= button_to rooms_path,
        method: :get,
        params: {read_at: 'true'},
        form_class: 'rounded-md hover:bg-muted hover:text-muted-foreground hover:bg-gray-100 px-2 py-1 cursor-pointer' do %>
          <div class="flex items-center space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4"
            >
              <rect width="20" height="16" x="2" y="4" rx="2"></rect>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </svg>
            <span>Unread</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-2 h-2 text-blue-500"
            >
              <circle cx="12.1" cy="12.1" r="1"></circle>
            </svg>
          </div>
      <% end %>
    </div>
    <%= button_to settings_path,
        method: :get,
        form_class: 'rounded-md hover:bg-muted hover:text-muted-foreground hover:bg-gray-100 px-2 py-1 cursor-pointer mt-auto ' do %>
          <div class="flex items-center p-4 space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4"
            >
              <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
            <span>Settings</span>
          </div>
    <% end %>
  </div>
  <div id="room-list" class="flex flex-col w-64 border-r">
    <%= render partial: 'rooms/rooms_list' %>
  </div>
  <div id="room-tab" class="w-full">
    <%= render partial: 'rooms/room_tab', locals: { room: @first_room } if @first_room.present? %>
  </div>
</div>

<script>
  <% if current_user.owned_org == current_org && !current_user.viewed_tutorial %>
    introJs().setOptions({
      steps: [
        {
          title: 'Welcome',
          intro: "Hi 👋 and thanks for signing up. Let's walk you through the basics."
        },
        {
          title: 'Chat list',
          element: document.querySelector('#room-list'),
          intro: 'All your chat messages will show up here.'
        },
        {
          title: 'Chat box',
          element: document.querySelector('#room-tab'),
          intro: 'This is your chat window, where you can talk to your customers.'
        },
        {
          title: 'Chat actions',
          element: document.querySelector('[id^="room-"][id$="-actions-holder"]'),
          intro: 'You can perform chat related actions from here.'
        }
      ]
    }).oncomplete(function(){
        $.ajax({
            url: '<%= user_registration_path %>',
            method: 'PATCH',
            headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            contentType: 'application/json',
            data: JSON.stringify({
              user: {
                viewed_tutorial: true
              }
            }),
            success: function (response) {
              window.location.href = "<%=rooms_path%>";
            },
            error: function (xhr, status, error) {
              console.error('Error:', error);
            }
          });
      }).start();
  <% end %>
</script>
