<div class="flex min-h-screen">
  <%= render partial: 'organizations/settings_sidebar', locals: { active_tab: 'manage_organization' } %>
  <main class="flex-1 px-8 py-2">
    <h1 class="text-2xl font-semibold mb-6">Manage Organization</h1>
    <section class="space-y-6">
      <div class="rounded-lg border bg-card text-card-foreground shadow-sm p-4 transition-colors w-full mb-6">
        <div class="grid grid-cols-2 items-center">
          <div>
            <div class="flex items-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5 mr-2 lucide lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
              <h2 class="text-lg font-semibold">Manage Members</h2>
            </div>
            <p class="text-sm text-muted-foreground">Invite, remove organizaiton members</p>
          </div>
          <%= render partial: 'invite_modal' %>
        </div>
        <div class="shadow-md sm:rounded-lg mt-4">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3">
                      Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Email
                  </th>
                  <th scope="col" class="px-6 py-3">
                      <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <%current_user.owned_org.users.each do |user|%>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= user.name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= user.email %>
                    </td>
                    <td class="px-6 py-4 text-right">
                      <button data-modal-target="<%=user.id%>-popup-modal" data-modal-toggle="<%=user.id%>-popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center inline-flex items-center me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
                        Remove
                      </button>
                      <div id="<%=user.id%>-popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-md max-h-full">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="<%=user.id%>-popup-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                                <div class="p-4 md:p-5 text-center">
                                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                    </svg>
                                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to remove this member?</h3>
                                    <%= form_with url: admin_destroy_user_path(user.id), method: :delete, class:"inline-flex items-center" do |f| %>
                                      <button data-modal-hide="<%=user.id%>-popup-modal" type="submit" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                          Yes, I'm sure
                                      </button>
                                    <% end %>
                                    <button data-modal-hide="<%=user.id%>-popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
</div>
